.hero {
  background: #999;
  height: 50vh;
  position: relative;
  text-align: center;

  .hero_video {
    width: 100vw;
  }

  .hero_play {
    width: 40px;
    height: 50px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
  }

  .hero_button {
    position: absolute;
    bottom: 3rem;
    left: 0;
    right: 0;
  }

  button {
    background: none;
    border: 3px solid #fff;
    padding: 1rem 2rem;

    a {
      color: #fff;
    }
  }
}
