* {
  box-sizing: border-box;
  margin: 0;
}

.sidebar {
  display: block;
}

.toggle {
  display: none;
}

.intro {
  margin: 0 auto;
  text-align: center;
  padding: 3rem 1.2rem;

  .september {
    font-size: 1.5rem;
  }

  h2 {
    padding-bottom: 1.5rem;
  }
}

.dates {
  margin: 0 auto;
  text-align: center;
  background: #000;

  .dates_img {
    text-align: center;
    width: auto;
    height: 50vh;
    background: #999;
    padding-top: 175px;
  }

  .dates_content {
    margin: 0 auto;

    h1 {
      text-align: center;
      color: white;
      padding: 1.5rem 0;
    }

    .dates_content_details {
      h3,
      h4,
      h5 {
        color: white;
      }
    }
  }
}

.news {
  margin: 0 auto;
  text-align: center;

  h2 {
    text-transform: uppercase;
    text-align: center;
    font-weight: 800;
    padding: 1.5rem 0;
  }

  .news_article {
    display: flex;
    justify-content: space-between;
    padding: 2rem 1rem 3rem;

    .news_article_img {
      background: #999;
      width: 400px;
      max-width: 200px;
      height: 100px;
      text-align: center;
    }
  }

  button {
    margin: 3rem 0;
  }
}

footer {
  padding: 3rem 0;
  text-align: center;
  background: #000;
  color: #fff;

  .sponsors {
    padding-bottom: 2rem;

    img {
      padding: 0.5rem;
    }
  }

  p {
    font-size: 0.7rem;
  }
}
