@media screen and (min-width: 768px) {
  .intro_content,
  .news_content,
  .sponsors {
    max-width: 700px;
    margin: 0 auto;
  }

  .dates {
    .dates_content {
      max-width: 700px;
    }
  }
}

@media screen and (min-width: 1024px) {
  .header_mobile {
    .logo,
    .header_mobile_toggle-img,
    .utility_nav {
      display: none;
    }
  }

  .sidebar {
    display: block;
  }

  .media_player_mobile {
    display: none;
  }

  .hero {
    .hero_button {
      right: 5rem;
      left: 70%;
    }
  }

  .intro,
  .dates,
  .news,
  footer {
    width: calc(100% - 225px);
    float: right;
  }
}
