.news_article_content {
  padding-left: 1rem;
  position: relative;
  text-align: left;

  h5 {
    font-size: 1rem;
    font-weight: 800;
    line-height: 1.25;
    padding-bottom: 0.5rem;
  }

  p {
    font-size: 0.75rem;
    font-weight: 300;
  }

  button {
    font-size: 0.7rem;
    padding: 0.4rem 0.7rem;
    position: absolute;
    right: -1rem;
    bottom: -4.5rem;
  }
}
